.bonhommes{
    position: absolute;
    top: 0;
    left: 2000px;
    scale: 0.5;
}

.bonhommeChiasse{
    position: absolute;
    top: 15px;
    left: 970px;
    scale: 0.5;
    opacity: 0;
}

.bonhommeSaut{
    position: absolute;
    top: 15px;
    left: 970px;
    scale: 0.5;
    opacity: 0;
}

.bonhommeGymnaste{
    position: absolute;
    top: 15px;
    left: 970px;
    scale: 0.5;
    opacity: 0;
}

.bonhommeImmobile{
    position: absolute;
    top: 15px;
    left: 970px;
    scale: 0.5;
}