#monCanvas{
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
}


#monCanvas img{
    position: absolute;
    top: 0;
    left: 2000px;
    scale: 0.3;
    z-index: 1;
}