/*------------------------------------------ Zone de texte ------------------------------------------ */
.titre{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
.texte{
    font-size: 1.5rem
}

/*------------------------------------------ Zone de texte ------------------------------------------ */
.mercureHidden, .soleilHidden, .venusHidden, .terreHidden, .marsHidden, .jupiterHidden, .saturneHidden, .uranusHidden, .neptuneHidden, .plutonHidden{
    opacity: 0;
}

.mercureInfo, .soleilInfo, .venusInfo, .terreInfo, .marsInfo, .jupiterInfo, .saturneInfo, .uranusInfo, .neptuneInfo, .plutonInfo{

    justify-content: center;
    align-items: center;

    position: fixed;
    top: 10%;
    left: 0%;
    
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;

    color: #FFFFFF;
    
    padding: 1% ;

    width: 500px;
    height: 700px;
    background-color: rgb(47, 29, 65);
}
/*------------------------------------------ Zone de texte ------------------------------------------ */
/*--------------------------------------------- Soleil ---------------------------------------------- */
.soleil{
    scale: 0.3;
    cursor: pointer
}
/*--------------------------------------------- Soleil ---------------------------------------------- */
/*--------------------------------------------- Mercure --------------------------------------------- */
.mercure{
    scale: 0.45;
    cursor: pointer
}
/*-------------------------------------------- Mercure ---------------------------------------------- */
/*--------------------------------------------- Venus ----------------------------------------------- */
.venus{
    scale: 0.35;
    cursor: pointer
}
/*---------------------------------------------- Venus ----------------------------------------------- */
/*---------------------------------------------- Terre ----------------------------------------------- */
.terre{
    scale: 0.4;
    cursor: pointer
}
/*---------------------------------------------- Terre ----------------------------------------------- */
/*----------------------------------------------- Mars ----------------------------------------------- */
.mars{
   scale: 0.3;
   cursor: pointer
}
/*----------------------------------------------- Mars ----------------------------------------------- */
/*--------------------------------------------- Jupiter ---------------------------------------------- */
.jupiter{
    scale: 0.5;
    cursor: pointer
}
/*--------------------------------------------- Jupiter ---------------------------------------------- */
/*--------------------------------------------- Saturne ---------------------------------------------- */
 .saturne{  
   scale: 0.8;
   cursor: pointer
}
/*--------------------------------------------- Saturne ---------------------------------------------- */
/*---------------------------------------------- Uranus ---------------------------------------------- */
.uranus{
    scale: 1;
    cursor: pointer
}
/*---------------------------------------------- Uranus ---------------------------------------------- */
/*--------------------------------------------- Neptune ---------------------------------------------- */
.neptune{
    scale: 0.3;
    cursor: pointer
}
/*--------------------------------------------- Neptune ---------------------------------------------- */
/*---------------------------------------------- Pluton ---------------------------------------------- */
.pluton{
    scale: 0.1;
    cursor: pointer
}
/*---------------------------------------------- Pluton ---------------------------------------------- */


