.soleil img{
    scale: 1;
    
}
/* ---------------- Soleil --------------- */
/* ---------------- Mercure --------------- */
.mercure img{
    scale: 0.45;
    transition: all ease 0.3s;
}

.mercure:hover img{

}
/* ---------------- Mercure --------------- */


.venus img{
    scale: 0.55;
    transition: all ease 0.3s;
}

.venus:hover img{

}


.terre img{
    scale: 0.6;
}

.terre:hover img{

}


.mars img{
    scale: 0.5;
}

.jupiter img{
    scale: 0.8;
}

.saturne img{
    scale: 0.95;
}

.uranus img{
    scale: 1; 
}

.neptune img{
    scale: 0.55;
}

.pluton img{
    scale: 0.2;
}