.pluton{
    max-width: fit-content;
}

.soleil{
    scale: 0.3;

}
/* ---------------- Soleil --------------- */
/* ---------------- Mercure --------------- */
.mercure{
    scale: 0.45;
}


/* ---------------- Mercure --------------- */


.venus{
    scale: 0.35;
}



.terre{
    scale: 0.4;
}

.mars{
   scale: 0.3;
}

.jupiter{
    scale: 0.5;
}

 .saturne{
   scale: 1;        /*a changer */
}

.uranus{
    scale: 1;
}

.neptune{
    scale: 0.3;
}

.pluton{
    scale: 0.1;
}





.mercureInfo{

    justify-content: center;
    align-items: center;

    position: sticky;
    bottom: 20%;
    left: 40%;

    /* display: ; */


    width: 500px;
    height: 700px;
    background-color: aliceblue;
}

.infoMercure{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    x: 50%;
    bottom: 20%;
    left: 40%;





    width: 500px;
    height: 700px;
    background-color: rgb(255, 0, 0);
}