/* ----------------------- RESET ----------------------------- */
@import "./base/reset.css";

/* ------------------------------ STYLES GLOBAUX ------------------------------ */
@import "./base/global.css";

/* ---------------------------Bonhomme----------------------------- */
@import "./components/bonhomme.css";