.corpsCelestes{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    
}

body{
    background: url("./Planetes/Etoiles.png"), linear-gradient(to top, #0E0F35, #36004c);
    background-repeat: repeat;
    overflow-y: hidden;
    
}

.etoileFill01{
    position: absolute;
    top: -700px;
    left: 700px;

}

.etoileFill02{
    position: absolute;
    top: -900px;
    left: 2000px;


}

.etoileFill03{
    position: absolute;
    top: -700px;
    left: 4500px;

}

@media (orientation: portrait) {
    body{
        background-color: #191919;
        background-image: url("./PasLeBonFormat.png");

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;

    }
    .contenu{
        display: none;
    }
}
