.corpsCelestes{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 100vh;
    
}

.tourneEcran{
    display: none;

}


body{

    background: url("./Planetes/Etoiles.png"), radial-gradient( #0e3035, #0E0F35, #36004c,#5c0153);
    background-size: 100%;
    overflow-y: hidden;
}

.etoileFill01{
    position: absolute;
    top: -700px;
    left: 700px;

}

.etoileFill02{
    position: absolute;
    top: -900px;
    left: 2000px;


}

.etoileFill03{
    position: absolute;
    top: -700px;
    left: 4000px;

}

.etoileFill04{
    position: absolute;
    top: -700px;
    left: 5000px;

}

.etoileFill05{
    position: absolute;
    top: -900px;
    left: 7500px;


}

.etoileFill06{
    position: absolute;
    top: -700px;
    left: 9000px;
}

@media (orientation: portrait) {
    body{
        background-color: #191919;
        background-image: none;

        background-size: cover;
        background-position: flex-start;
        background-repeat: no-repeat;
        height: 100vh;

    }
    .tourneEcran{
        display: flex;
        justify-content: center;
        align-self: center;
        scale: 0.5;
        height: 100vh;
        width: 100vw;
    }
    .contenu{
        display: none;
    }
}
