/*--------------fait par Céleste---------*/
.corpsCelestes{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 100vh;
    
}
/*--------------fait par Céleste---------*/
/*--------------fait par Xavier---------*/
.tourneEcran{
    display: none;

}
/*--------------fait par Xavier---------*/
/*--------------fait par Céleste---------*/
body{

    background: url("../Planetes/Etoiles.png"), radial-gradient( #0e3035, #0E0F35, #36004c,#5c0153);
    background-size: 110%;
    /*--------------fait par Xavier---------*/
    overflow-y: hidden;
    /*--------------fait par Xavier---------*/

    animation-name: animationEspace;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
    
    animation-play-state: running;

}

@keyframes animationEspace {
    0% {
        background-size: 110%;
    }

    50% {
        background-size: 100%;
    }

    100% {
        background-size: 110%;
    }
}

.etoileFill01{
    position: absolute;
    top: -700px;
    left: 2500px;

}

.etoileFill02{
    position: absolute;
    top: -900px;
    left: 3500px;


}

.etoileFill03{
    position: absolute;
    top: -700px;
    left: 4000px;

}

.etoileFill04{
    position: absolute;
    top: -700px;
    left: 6000px;

}

.etoileFill05{
    position: absolute;
    top: -900px;
    left: 8500px;


}

.etoileFill06{
    position: absolute;
    top: -700px;
    left: 10000px;
}
/*--------------fait par Céleste---------*/
/*--------------fait par Xavier---------*/
@media (orientation: portrait) {
    body{
        background-color: #191919;
        background-image: none;

        background-size: cover;
        background-position: flex-start;
        background-repeat: no-repeat;
        height: 100vh;

    }
    .tourneEcran{
        display: flex;
        justify-content: center;
        align-self: center;
        scale: 0.5;
        height: 100vh;
        width: 100vw;
    }
    .contenu{
        display: none;
    }
}
/*--------------fait par Xavier---------*/
