.corpsCelestes{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
}

body{
    background: linear-gradient(to top, #0E0F35, #36004c);
    background-repeat: no-repeat;
}