.corpsCelestes{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    
}

body{
    background: url("./Planetes/Etoiles.png"), linear-gradient(to top, #0E0F35, #36004c);
    background-repeat: repeat;

    
}

@media screen and (width <= 823px) {
    body{
        background: url("./PasLeBonFormat.png"), #191919;
        background-repeat: no-repeat;
        background-position: top center;
        
    }
    .corpsCelestes{
        display: none;
    }
    .bonhommes{
        display: none;
    }
}