.corpsCelestes{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    
}

body{
    background: url("./public/Planetes/Etoiles.png"), linear-gradient(to top, #0E0F35, #36004c);
    background-repeat: repeat;

    
}